@font-face {
    font-family: 'Yeongdo-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
}

:root {
    --colorShadeA: #b18597;
    --colorShadeB: #f9c4d2;
    --colorShadeC: #ffe3e2;
    --colorShadeD: #ffe9e9;
    --colorShadeE: #fff0f0;
}
* {
    margin: 0;
    padding: 0;
}
.pattern-cross-dots-lg {
    width: 100%;
    height: 100%;
}
.mainColor {
    position: absolute;
    color: rgb(82, 79, 161, 0.7);
    background-color: rgb(227, 227, 252);
}
.buttonWrap{
    width: 65%;
    height: 300px;
    margin: 0 auto;
    margin-top: 80px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}
button {
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--colorShadeA);
    font-weight: 700;
}
button.gameButton {
    padding: 1em 1em;
    border: 2px solid var(--colorShadeA);
    border-radius: 1em;
    /* border-radius: 50%; */
    background: var(--colorShadeE);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
button.gameButton::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC);
    border-radius: inherit;
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
    transform: translate3d(0, 0.75em, -1em);
    transition: all 100ms cubic-bezier(0, 0, 1, 1);
}
button.gameButton:hover {
    background: var(--colorShadeD);
    transform: translate(0, 0.375em);
}
button.gameButton:hover::before {
    transform: translate3d(0, 0.75em, -1em);
}
button.gameButton:active {
    transform: translate(0em, 0.75em);
}
button.gameButton:active::before {
    transform: translate3d(0, 0, -1em);
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}
.madeButton {
    position: fixed;
    right: 30px;
	bottom: 30px;
}
button.madeButton{
    width: 200px;
	background-color: transparent;  
}
button.madeButton span{
    padding: 5px 0;
    font-size: 16px;
	display: block;
	position: relative;
	transition:0.3s ease-in-out all;
	transform-origin:50% 0;
    transform-style:preserve-3d;
	background-color: rgb(82, 79, 161);
	color: white;
    width: 100%;
}
button.madeButton span:after{
    font-size: 14px;
	display: block;
	content: attr(data-title);
	position: absolute;
	left: 0;
	top: 0;
	transition:0.3s ease-in-out all;
	transform-origin:50% 0;
	transform:translate3d(0px,105%,0px) rotateX(-90deg);
	background-color: white;
	color: rgb(82, 79, 161);
    width: 100%;
}
button.madeButton:hover span{
	transform:translate3d(0px,0px,-30px) rotateX(90deg);
}