#pokemon {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  margin: 5%;
}

/* scoreBoard */
#scoreBoard {
  display: flex;
  height: 5%;
  justify-content: space-between;
}

.name_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex모드로, 콘텐츠정렬방식 : 열,  센터정렬: center*/
}
/* comPanel */
#comPanel {
  height: auto;
  display: inherit;
  justify-content: center;
  align-items: center;
}
#comPanel img {
  max-width: 80%;
  height: auto;
}

/*vsPanel*/
#vsPanel {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#vs {
  font-size: 60px;
  line-height: 1em;
}

/* userPanel */

#panel {
  display: inherit;
  justify-content: center;
  height: auto;
}

#paper,
#rock,
#scissors {
  background-color: white;
  border-radius: 3em;
  transform: scale(0.6);
  border: none;
}

.btn_image :hover {
  transform: scale(1.2);
}

/* 기타 */
#start,
#start :hover {
  transform: scale(1.2);
}

/*포켓몬 modal 구현*/

.modal {
  top: 50%;
  left: 50%;
  width: 80%;
  height: 70%;
  z-index: 3;
  position: absolute;
  transform: translate(-50%, -50%);

  /* 모달창 통일시키기 위한 코드 */
  border-radius: 30px;
  border: 4px solid var(--colorShadeA);
  text-align: center;
  padding: 50px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: none;
}

.modal p:first-child {
  font-size: 45px;
  font-weight: bold;
  color: rgb(82, 79, 161);
  margin-bottom: 15px;
}
.modal p:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
  color: #777;
  margin-bottom: 35px;
}
.modal p:nth-child(2) span.score {
  font-size: 30px;
  font-weight: bold;
  color: var(--colorShadeA);
}
.modal .btn_start {
  display: block;
  width: 150px;
  margin: 0 auto;
  background-color: var(--colorShadeA);
  color: white;
  font-weight: bold;
  line-height: 40px;
  border-radius: 20px;
  transition: 0.2s;
}
.modal .btn_again .btn_start:hover {
  background-color: rgb(82, 79, 161);
}
.modal .btn_again .btn_star:hover i {
  transition: 0.2s;
}
.modal .btn_again .btn_star:hover i {
  transform: rotate(180deg);
}

#pokemonBook {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 75px;
}

#pokemonBook #container {
  max-height: 100%;
  overflow-y: auto;
}
.pokemon {
  display: inline-block;
  text-align: center;
  width: 13%;
  height: 15vh;
  margin: 20px;
}

#pokemonBook .sub_Header {
  position: fixed;
  width: 100%;
  height: 50px;
  align-items: center;
  top: 0;
  display: flex;

  border-radius: 25px 25px 0 0;
  font-style: bold;
  background-color: rgb(195 186 233);
  color: whitesmoke;
  justify-content: space-between;
}

#pokemonBook .sub_Header span {
  top: auto;
  right: 10px;
  display: block;

  text-align: right;
  font-weight: 700;
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
}

#pokemonBook .sub_Header h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin: 20px;
}

.pokemon span {
  display: block;
  margin: auto;
  font-weight: bold;
}
.pokemon img {
  display: block;
  /* -webkit-filter:;*/
  filter: brightness(0);

  margin: auto;
}

.result {
  z-index: 1000;
}

/* 시작 안내문 */
.modal.notice {
  display: block;
  width: 500px;
  height: 300px;
  padding: 30px;
}
.notice.notice p {
  font-size: 20px;
}

.notice img {
  margin: 20px;
  width: 80px;
  height: 80px;
}
/* 버튼클릭시 도감 닫히게  */

#end {
  width: 100px;
}

#start :hover {
  transform: scale(1.2);
}
