td {
  width: 14px;
  height: 14px;
}
#tetrisContainer {
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  margin-top: 20px;
}
#gameField {
  width: 100%;
  height: 100%;
}
#scoreField {
  float: right;
  background-color: rgb(108, 93, 182);
  margin-top: 1.9px;
  width: 100px;
}
#scoreField #nextTable {
  position: relative;
  margin: 0 auto;
  padding: 13px 0;
}
#score,
#level {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: white;
  height: 30px;
  margin: 14px 0;
}
#help2 {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: white;
  height: 30px;
  line-height: 30px;
}
.sub {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: rgb(195, 186, 233);
  padding: 10px;
  margin: 0px;
}
#pause,
#gameover {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  visibility: hidden;
  color: rgb(108, 93, 182);
}