.wordle-container {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wordle-board {
  width: 420px;
  height: 420px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  margin-bottom: 2rem;
}

.wordle-board-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}

.wordle-board-tile {
  border: 2px solid rgba(195, 186, 233, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(195 186 233);
}

.wordle-keyboard {
  width: 482px;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: repeat(3, 1fr);
}

.wordle-keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wordle-keyboard-row button {
  width: 50px;
  height: 50px;
  margin: 0 2px;
  background-color: rgb(195 186 233);
  color: white;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.wordle-keyboard-row button:hover {
  background-color: rgba(195, 186, 233, 0.7);
}

.wordle-keyboard-row button#enter-key {
  width: 104px;
}

.answer {
  margin: 0 1rem 0 0.1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--colorShadeA);
}

.notification-container {
  background: rgba(195, 186, 233, 0.7);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 1rem 1.2rem;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.notification-container.show {
  display: block;
}

/* HD */
@media screen and (max-width: 1280px) {
  .wordle-container {
    padding: 1.5rem 0;
  }

  .wordle-board {
    width: 310px;
    height: 310px;
    grid-gap: 2px;
    margin-bottom: 1rem;
  }

  .wordle-board-row {
    grid-gap: 2px;
  }

  .wordle-board-tile {
    font-size: 1.2rem;
  }

  .wordle-keyboard {
    width: 333px;
    grid-gap: 2px;
  }

  .wordle-keyboard-row button {
    width: 35px;
    height: 35px;
    margin: 0 1px;
    font-size: 0.9rem;
  }

  .wordle-keyboard-row button#enter-key {
    width: 72px;
  }

  .notification-container {
    padding: 0.7rem 1rem;
    top: 38%;
  }
}
